:root{
    --cor-azul-0: #0583f2;
    --cor-azul-1: #0010ED;
    --cor-azul-2: #000CAD;
    --cor-azul-3: #000761;
    --cor-azul-4: #00043A;
    --cor-preto: #000;
    --cor-branco: #fff;
    --cor-vermelho: #ff0000;

    --bold: "bold";
    --regular: "regular";
    --light: "light"
}