body{
    padding-top: 80PX;
    position: relative;
}


header{
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--cor-preto);
    z-index: 1;
    
}

.logo{
    /* border: 1px solid var(--cor-vermelho); */
    width: 50%;
    margin-left: 15px;
}

.logo_img{
    width: 20%;

    /* border: 1px solid var(--cor-vermelho); */
}
nav{
    /* border: 1px solid var(--cor-branco); */
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}

nav a{
    color: var(--cor-branco);
    /* margin: 1px solid red; */
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    
    
}

nav a:hover{
    color: var(--cor-azul-0);
    opacity: 0.8;
}

.btn-login{
    padding: 10px 20px;
    background-color: var(--cor-azul-0);
    border-radius: 24px;
    
}

.btn-login:hover{
    background-color: var(--cor-azul-1);
    color: var(--cor-branco);
}
